
<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name"> 	
			<h1><a>Posts</a></h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class="has-dropdown not-click"><a href="#">Menú</a>
				<ul class="dropdown">
					<li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#">Menú</a></li>
					<li><label>Posts</label></li>
					<li><%= link_to 'Ver', controller:'/posts',action:'index'%></li>
					<li><%= link_to 'Nuevo', controller:'/posts',action:'new'%></li>
				</ul>
			<li>
			<li class="divider"></li>
		</ul>
		<ul class="right">
			<% if user_signed_in? %>
				<li><a><%= current_user.email %></a></li>
				<li><%= link_to "Edit profile", edit_user_registration_path %></li> 
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
				<% elsif admin_signed_in? %>
				<li><a><%= current_admin.email %></a></li>
				<li><%= link_to "Edit profile", edit_admin_registration_path %></li> 
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>				
			<% else %>
				<li><%= link_to "Login", new_user_session_path %></li>
				<li><%= link_to "Sign Up",new_user_registration_path %></li>
			<% end %>
		</ul>
	</section>
	
</nav>