<h1>Lista de Posts</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th> Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><% if post.body %>
          <a href="#" data-reveal-id="post-<%= post.id %>" >Ver Más</a>
           <div id="post-<%= post.id  %>" class="reveal-modal" data-reveal> 
             <%= post.body %>
             <a class="close-reveal-modal">&#215;</a> 
           </div>
          <% end %>
        </td>
        <td><%= User.find(post.user_id).email %></td>
        <% if can? :read, post %>
          <td><%= link_to 'Show', post %>
        <%end%>    
          </td>
         <% if can? :edit, post %>
          <td><%= link_to 'Edit', edit_post_path(post) %> 
        <%end%> 
          </td>
        <%if can? :destroy, post %>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <% if can? :create, Post %>
   <%= link_to 'New Post', new_post_path %>
  <%end%>
<% end %>

